@page "/scan-qr"
@using Prod.Exceptions
@using Prod.Models.Database
@using Prod.Services
@inject IBookService BookService
@inject IJSRuntime JsRuntime
@inject IQrCodeService QrService
@inject IUserService UserService
@rendermode InteractiveServer

<h3>Сканировать QR</h3>

<div class="select">
    <button @onclick="GetCameras">Камеры</button>
    <label for="videoSource"></label>
    <select id="@videoSourceId" @onchange="OnCameraSelected">
        @foreach (var camera in _cameras)
        {
            <option value="@camera.deviceId">@camera.label</option>
        }
    </select>
    <button @onclick="StartCamera">Запустить камеру</button>
    <button @onclick="StopCamera">Остановить камеру</button>
</div>

<video id="videoElement" width="300" height="200"></video>
<canvas id="canvasElement" style="display:none;"></canvas>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}

@if (_book != null && _user != null)
{
    <div>
        <h4>Информация о бронировании</h4>
        <p>Описание: @_book.Description</p>
        <p>Дата начала: @_book.Start</p>
        <p>Дата окончания: @_book.End</p>
        <p>Статус: @_book.Status</p>
        <button @onclick="ChangeStatusToActive">Подтвердить</button>

        @if (_user.Passport != null)
        {
            <div class="passport-info">
                <h4>Паспортные данные</h4>
                <div class="passport-header">
                    <img src="@_user.AvatarUrl" alt="Avatar" class="passport-avatar"/>
                    <div class="passport-details">
                        <p>Фамилия: @_user.Passport.Lastname</p>
                        <p>Имя: @_user.Passport.Firstname</p>
                        <p>Отчество: @_user.Passport.Middlename</p>
                    </div>
                </div>
                <div class="passport-details">
                    <p>Серия: @_user.Passport.Serial</p>
                    <p>Номер: @_user.Passport.Number</p>
                </div>
            </div>
        }
    </div>
}

<div class="manual-input">
    <label for="qrCodeInput">Введите QR код вручную:</label>
    <input type="text" id="qrCodeInput" @bind="_manualQrCode">
    <button @onclick="ProcessManualQrCode">Обработать</button>
</div>

@code {
    public class MediaDeviceInfo
    {
        public string deviceId { get; set; }
        public string label { get; set; }
    }

    private Book? _book;
    private User? _user;
    private string? _errorMessage;
    private string? _qrCode;
    private string? _manualQrCode;
    private string videoSourceId = "videoSource";
    private Timer? _timer;
    private List<MediaDeviceInfo> _cameras = new List<MediaDeviceInfo>();
    private string? _selectedCameraId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetCameras();
            StateHasChanged();
        }
    }

    public async Task ReturnBarcodeResultsAsync(string qrCode)
    {
        try
        {
            _qrCode = qrCode;
            var id = QrService[long.Parse(qrCode)];

            if (id is not null)
            {
                _book = await BookService.GetBookById(id.Value);
                _user = _book?.User;
                if (_book is null)
                    throw new Exception("Бронирование уже не существует");
            }
            else
                throw new Exception("Неверный код");
        }
        catch (Exception ex)
        {
            _errorMessage = $"Ошибка: {ex.Message}";
        }

        StateHasChanged();
    }

    public async Task GetCameras()
    {
        _cameras = await JsRuntime.InvokeAsync<List<MediaDeviceInfo>>("jsFunctions.getCameras");
        StateHasChanged();
    }

    public async Task OnCameraSelected(ChangeEventArgs e)
    {
        _selectedCameraId = e.Value?.ToString();
    }

    public async Task StartCamera()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("jsFunctions.startCamera", "videoElement", _selectedCameraId);
            _timer = new Timer((_) => CaptureAndScanFrame().ConfigureAwait(false), null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
        }
        catch (TaskCanceledException)
        {
        }
        catch (Exception ex)
        {
            _errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    public async Task StopCamera()
    {
        await JsRuntime.InvokeVoidAsync("jsFunctions.stopCamera", "videoElement");
        _timer?.Dispose();
    }

    private async Task CaptureAndScanFrame()
    {
        try
        {
            var frameData = await JsRuntime.InvokeAsync<byte[]>("jsFunctions.captureFrame");
            string? result = await QrService.ScanQrCode(frameData);
            if (!string.IsNullOrEmpty(result))
            {
                await ReturnBarcodeResultsAsync(result);
            }
        }
        catch (TaskCanceledException)
        {
        }
        catch (Exception ex)
        {
            _errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    private async Task ProcessManualQrCode()
    {
        if (!string.IsNullOrEmpty(_manualQrCode))
        {
            await ReturnBarcodeResultsAsync(_manualQrCode);
        }
    }

    private async Task ChangeStatusToActive()
    {
        try
        {
            await BookService.ConfirmQr(new ConfirmQrRequest() { Code = _qrCode ?? "" });
            if (_book != null)
            {
                _book.Status = Status.Active;
            }

            StateHasChanged();
        }
        catch (ForbiddenException ex)
        {
            _errorMessage = $"Неверный QR код";
        }
    }
}

<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .client-info {
        display: flex;
        align-items: center;
    }

    .client-details {
        flex: 1;
    }

    .passport-info {
        border: 1px solid #888;
        padding: 10px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .passport-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .passport-avatar {
        max-width: 100px;
        border-radius: 20% / 50%;
        margin-right: 20px;
    }

    .passport-details p {
        margin: 5px 0;
    }

    .filters {
        margin-bottom: 20px;
    }

    .manual-input {
        margin-top: 20px;
    }

    .manual-input label {
        display: block;
        margin-bottom: 5px;
    }

    .manual-input input {
        margin-right: 10px;
    }
</style>