@page "/scan-qr"
@using Prod.Exceptions
@using Prod.Models.Database
@using Prod.Services
@inject IBookService BookService
@inject IJSRuntime JsRuntime
@inject IQrCodeService QrService
@inject IUserService UserService
@rendermode InteractiveServer

<h3>Сканировать QR</h3>

<div class="select">
    <button @onclick="GetCameras">Get Cameras</button>
    <label for="videoSource"></label>
    <select id="@videoSourceId"></select>
    <button @onclick="StartCamera">Open Camera</button>
    <button @onclick="StopCamera">Stop Camera</button>
</div>

<div id="videoview">
    <div class="dce-video-container" id="@videoContainerId"></div>
    <canvas id="@overlayId"></canvas>
</div>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">@_errorMessage</div>
}

@if (_book != null && _user != null)
{
    <div>
        <h4>Информация о бронировании</h4>
        <p>Описание: @_book.Description</p>
        <p>Дата начала: @_book.Start</p>
        <p>Дата окончания: @_book.End</p>
        <p>Статус: @_book.Status</p>
        <button @onclick="ChangeStatusToActive">Подтвердить</button>
        
        @if (_user.Passport != null)
        {
            <div class="passport-info">
                <h4>Паспортные данные</h4>
                <div class="passport-header">
                    <img src="@_user.AvatarUrl" alt="Avatar" class="passport-avatar" />
                    <div class="passport-details">
                        <p>Фамилия: @_user.Passport.Lastname</p>
                        <p>Имя: @_user.Passport.Firstname</p>
                        <p>Отчество: @_user.Passport.Middlename</p>
                    </div>
                </div>
                <div class="passport-details">
                    <p>Серия: @_user.Passport.Serial</p>
                    <p>Номер: @_user.Passport.Number</p>
                    <p>Выдан: @_user.Passport.IssuedBy</p>
                    <p>Дата выдачи: @_user.Passport.IssuedOn.ToString("dd.MM.yyyy")</p>
                    <p>Код подразделения: @_user.Passport.CodeOfIssuer</p>
                    <p>Дата рождения: @_user.Passport.PassportBirthday.ToString("dd.MM.yyyy")</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private Book? _book;
    private User? _user;
    private string? _errorMessage;
    private string? _qrCode;
    private DotNetObjectReference<ScanQR>? objRef;
    private string videoSourceId = "videoSource";
    private string overlayId = "overlay";
    private string videoContainerId = "videoContainer";
    bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            initialized = await JsRuntime.InvokeAsync<Boolean>("jsFunctions.setLicense", "DLS2eyJoYW5kc2hha2VDb2RlIjoiMTAzNzUzNTE3LVRYbFFjbTlxIiwibWFpblNlcnZlclVSTCI6Imh0dHBzOi8vbWRscy5keW5hbXNvZnRvbmxpbmUuY29tIiwib3JnYW5pemF0aW9uSUQiOiIxMDM3NTM1MTciLCJzdGFuZGJ5U2VydmVyVVJMIjoiaHR0cHM6Ly9zZGxzLmR5bmFtc29mdG9ubGluZS5jb20iLCJjaGVja0NvZGUiOjkzMDAyMTQ0MX0=");
            objRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeAsync<Boolean>("jsFunctions.initScanner", objRef, videoContainerId, videoSourceId, overlayId);
            StateHasChanged();
        }
    }
    
    [JSInvokable]
    public async Task ReturnBarcodeResultsAsync(string qrCode)
    {
        try
        {
            _qrCode = qrCode;
            var id = QrService[long.Parse(qrCode)];

            if (id is not null)
            {
                _book = await BookService.GetBookById(id.Value);
                _user = _book?.User;
                if (_book is null)
                    throw new Exception("Бронирование уже не существует");
            }
            else
                throw new Exception("Неверный код");
        }
        catch (Exception ex)
        {
            _errorMessage = $"Ошибка: {ex.Message}";
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        objRef?.Dispose();
    }

    public async Task GetCameras()
    {
        await JsRuntime.InvokeVoidAsync("jsFunctions.getCameras");
    }

    public async Task StartCamera()
    {
        await JsRuntime.InvokeVoidAsync("jsFunctions.startCamera");
    }

    public async Task StopCamera()
    {
        await JsRuntime.InvokeVoidAsync("jsFunctions.stopCamera");
    }

    private async Task ChangeStatusToActive()
    {
        try
        {
            await BookService.ConfirmQr(new ConfirmQrRequest() { Code = _qrCode ?? "" });
            if (_book != null)
            {
                _book.Status = Status.Active;
            }
            StateHasChanged();
        }
        catch (ForbiddenException ex)
        {
            _errorMessage = $"Неверный QR код";
        }
    }
}

<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .client-info {
        display: flex;
        align-items: center;
    }

    .client-details {
        flex: 1;
    }

    .passport-info {
        border: 1px solid #888;
        padding: 10px;
        margin-top: 20px;
        background-color: #f9f9f9;
    }

    .passport-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .passport-avatar {
        max-width: 100px;
        border-radius: 20% / 50%;
        margin-right: 20px;
    }

    .passport-details p {
        margin: 5px 0;
    }

    .filters {
        margin-bottom: 20px;
    }
</style>
